@model IEnumerable<TheDisasterAlleviationFoundationPart2.Models.GoodsDonations>

@{
    ViewData["Title"] = "GoodsDonationsview";
}

<h1>GoodsDonationsview</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAnonymous)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfItems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAnonymous)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Home" asp-action="ThankYou"></a>
